.dashboard__container {
    flex: 0.8;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    top: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    flex-direction: column;
    align-content: center;
}

.dashboard__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 

    @media screen and (max-width: 768px) {
        font-size: 24px;
    }
    
}

.cards {
    display: flex;
    border-radius: 10px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
    margin-top: 20px;
    /* border-spacing: 5px; */
    background-color: white;
    /* flex-direction: row; */

}

.cards:hover {
    background-color: mediumvioletred;
    cursor: pointer;
}

 .h1 {
     font-size: 18px;
     justify-content: center;
     align-items: flex-start;
     color: blue;
     /* margin: 15px; */
     margin-bottom: 10px;

 }

 .h2 {
     display: flex;
     font-size: 18px;
     align-items: flex-end;
     justify-content: space-between;
     margin-top: 50px;

 }

 .img {
     justify-content: flex-end;
 }

 .journey__list {
     display: flex;
     align-content: flex-start;
     justify-content: space-between;
 }

 .input {
     display: flex;
     align-items: center;
 }